

// section {
//   display: flex;
//   height: 38em;
//   justify-content: center;
//   align-items: center;
// }
.heroImage {
  margin-top: 9em;
  display: flex;
  height: 30em;
  width: auto;
  justify-self: center;

  @media screen and (max-width: 480px) {
    height: 20em;
    margin: 1em;
    transform: translateY(5rem);
  }
}

.social {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  color: #00000c;
  margin-top: 1em;
  width: 100%;

  @media screen and (max-width: 480px) {
    max-width: 300px;
    padding-left: 1em;
    padding-right: 1em;
    margin: 1em auto 0;
    justify-content: space-between;
  }
}
.social a {
  // margin-left: 3em;
  // margin-right: 3em;
  margin-top: 1.5em;
}
i:hover {
  color: #0d6efd;
}
a {
  color: #fff;
}
.btm-hr {
  display: flex;

  color: #00000c;
}


.footer {
  .social {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    color: #00000c;
    margin-top: 0em;
    width: 100%;
  
    @media screen and (max-width: 480px) {
      max-width: 300px;
      padding-left: 1em;
      padding-right: 1em;
      margin: 0em auto 0;
      justify-content: space-between;
    }
  }
  .social a {
    // margin-left: 3em;
    // margin-right: 3em;
    margin-top: 0em;
  }
}