
.heroImage {
  margin-top: 2em;
  display: flex;
  height: 30em;
  width: auto;
  justify-self: center;
  margin: 0 auto;
  padding-left: 1.5rem;
  filter: brightness(1.75);
  

  @media screen and (max-width: 480px) {
    height: 20em;
    transform: translateY(3rem);
  }
  // &:hover {
  //   filter: brightness(1.75);
  // }
}

.social {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  color: #00000c;
  width: 100%;

  @media screen and (max-width: 480px) {
    max-width: 300px;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0 auto 0;
    justify-content: space-between;
  }
}
.social a {
  margin-top: 1em;
}
i:hover {
  color: #0d6efd;
}
a {
  color: #fff;
}
.btm-hr {
  display: flex;

  color: #00000c;
}


.footer {
  .social {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    color: #00000c;
    margin-top: 0em;
    width: 100%;
  
    @media screen and (max-width: 868px) {
      max-width: 300px;
      padding-left: 1em;
      padding-right: 1em;
      margin: 0em auto 0;
      justify-content: space-between;
    }
  }
  .social a {
    margin-top: 0em;
  }
}
.heroAboutText {
  transform: translateY(-3rem);
  color: #f0f9ff;
  margin-bottom: 2rem;

 
  @media screen and (max-width: 768px) {
    transform: translateY(1rem);
  }
}

.heroAboutTextContainer{
  @media screen and (max-width: 768px) {
    margin-left: 4rem;
  }
 
}


.moreArrowDown {
  cursor: pointer;
  color: #f0f9ff;
  position: absolute;
  bottom: 1rem;
  
}