

.social {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  color: #00000c;
  width: 100%;
  justify-content: space-around;

}
.social a {
  margin-top: 1em;
}
i:hover {
  color: #3D8DAE;
}
a {
  color: #fff;
}
.btm-hr { 
  display: flex;
  margin-top: 7em;
  color: #00000c;
}


.footer {
  display: flex;
  justify-content: space-between;
}
  .social {

    font-size: 2rem;
    color: #00000c;
  padding-left: 2em;
  padding-right: 2em;  
   }

.title-word {
  animation: color-animation 4s linear infinite;
}
.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.title-word-4 {
  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-3: #E4A9A8;
}
.title-word-5 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}
.title-word-6 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}


@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}


.container {
  display: grid;
  place-items: center;  
  text-align: center;
  height: 100vh
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 6rem;
  text-transform: uppercase;

  @media screen and (max-width: 1080px){
    font-size: 10.5vw;
   }

}


.heroAboutTextContainer{
  width: 90%;
  margin: 5em 2em 1em 2em;
  text-align: center;
}



