body {
  margin: 1em;
  background-color: #0f3a57 ;
  font-family: 'Quicksand', sans-serif;
}
.hr {
  color: white;
  margin-top: 0;
}
.name-title {
  display: flex;
  flex-direction: column;
  justify-content:  flex-end;
  margin-top: 3em;
}
h1 {
  font-family: 'Quicksand', sans-serif;
  /* font-family: 'Raleway', sans-serif; */
  font-size: 2.5rem;
  color: white;
  margin-left: 3em;
  margin-bottom: 0;
  justify-self: flex-end;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  /* font-family: 'Raleway', sans-serif; */
  font-size: 2rem;
  color: white;
  margin-left: 2em;
  margin-bottom: 0;
  justify-self: flex-end;
}
div .nav {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-right: 8em;
}
.nav-item {
  display: flex;
  flex-direction: row;
  color: white
}
.nav-link {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 1.5em;
 
}
.nav-link:hover {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 1.8em;
  transition: all .5s ease-in-out;
 
}




/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: ;
  }
} */

/* .App-header {
  background-color: pink;
  min-height: 100vh;
  

} */



/* @keyframes App-logo-spin {
  from {
    transform: ;
  }
  to {
    transform:;
  }
} */
