body {
  margin: 1em;
  display: flex;
  background: url('./background.svg') no-repeat center center fixed ;
  background-size: 90rem;
  background-position-x: -1em; 
  background-position-y: -5em; 
  justify-content: center;
  align-items: center;
  background-color: #540808;
  font-family: 'Quicksand', sans-serif;
}
html {
  
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  z-index: 5;
}
.hr {
  color: black;
  margin-top: 1em;
}
.name-title {
  display: flex;
  flex-direction: column;
  justify-items:  center;
  align-items: center;
}


h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.4rem;
  color: #00000C;
  margin-top: 12em;
  padding-bottom: .3em;
  justify-self: center;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  color: #00000C;
  margin-bottom: 0;
  justify-self: center;
  align-self: center;
}
div .nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10em;
}

.btn {
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
  padding-left: .7em;
  padding-right: .7em;
  color: #00000C;
 
}
.short {
  width: 8em;
  margin-top: 2em;
  margin-bottom: 2em;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: ;
  }
} */

/* .App-header {
  background-color: pink;
  min-height: 100vh;
  

} */



/* @keyframes App-logo-spin {
  from {
    transform: ;
  }
  to {
    transform:;
  }
} */
