body {
  margin: 1em;
  display: flex;
  /* background: url('./ciri-logo.svg') no-repeat center center fixed ;
  background-size: 90rem;
  background-position-x: -1em; 
  background-position-y: -8em;  */
  justify-content: center;
  align-items: center;
  background-color: #17509B;
  font-family: 'Quicksand', sans-serif;
}

.hr-top {
  color: black;
  margin-top: 1em;
}


h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.4rem;
  color: #00000C;
  margin-right: 3em;
  padding-bottom: .3em;
}
h1:hover {
  font-family: 'Quicksand', sans-serif;
  font-size: 2.4rem;
  color: white;
  margin-right: 3em;
  padding-bottom: .3em;
}


div .nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 6em;
}

.btn {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  padding-left: .7em;
  padding-right: .7em;
  color: #00000C;
 
}


section {
  display: flex;
  height: 30em;
  justify-content: center;
  align-items: center;
}
img {
  display: flex;
  height: 75em;
  width:auto;
  justify-self: center;
}

.social {
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  color: #00000C;
  margin-top: 1em;

}
i:hover {
  color: white;
}
a {
  color: #00000C;
}
.btm-hr {
  color: #00000C;
}
